 body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
    border: 1px solid black;
    
}
    header{
        padding-top: 2px;
        border: 1px solid black;
           }
    .table table, th, td {
      border: 2px solid black;
      text-align: center;
    }

  .table th {
    background-color: var(--color-secondary);
    border: 1px solid black;
  }   
   .table tr:nth-child(even) {

    background-color: #fcf6e2;
   }
  .table tr:hover {background-color: burlywood;
   }

   .mybutton {
    margin: 10px;
   }